@model IEnumerable<dynamic>

<h2>Reporte de Ventas para el Cliente (@ViewBag.ClienteNombre)</h2>

<table class="table">
    <thead>
        <tr>
            <th>Productos Comprados</th>
            <th>Fecha de Compra</th>
            <th>Total</th>
            <th>Nro de Factura (ID)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @foreach (var producto in item.Productos)
                    {
                        <p>@producto.ProductoNombre (Cantidad: @producto.Cantidad)</p>
                    }
                </td>
                <td>@item.Factura.FechaEmision.ToString("dd/MM/yyyy HH:mm")</td>
                <td>@item.Factura.Total</td>
                <td>@item.Factura.ID</td>
            </tr>
        }
    </tbody>
</table>
